.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#LabelMyPatient {
  font-family: "Brush Script MT, Brush Script Std, cursive";
  margin-top: 23px !important;
  margin-bottom: 20px !important;
}

#LogoMed {
  height: 120px !important;
  padding-bottom: 2% !important;
  border-radius: 50% !important;
  margin-left: 0% !important;
}

#emailLogin {
  margin-top: 17% !important;
  margin-bottom: 5% !important;
}

#labelLoginEmail {
  margin-top: 9% !important;
  font-weight: bold !important;
  margin-bottom: -15% !important;
  size: 5% !important;
  color: #0069c7 !important;
  font-size: 100% !important;
}

#labelLoginPassword {
  font-weight: bold !important;
  margin-top: 5% !important;
  size: 5% !important;
  color: #0069c7 !important;
  font-size: 100% !important;
}

#LogoMedHeader {
  height: 69px !important;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: #0d2338 !important;
}

.bg-secondary.shadow.card {
  width: 150% !important;
  height: 99% !important;
  background-color: #0d2338 !important;
}

.heading-small.text-muted.mb-4 {
  color: #dee2e6 !important;
  margin-bottom: -0.5rem !important;
}

.my-4 {
  border-top: 1px solid #dee2e6 !important;
}

.text-white.mt-0.mb-5 {
  font-style: italic !important;
  font-weight: 500 !important;
}

.btn.btn-info {
  margin-top: -17% !important;
  border-color: #0d2338 !important;
  background-color: #0d2338 !important;
}

#BottoneInsertPatientHeader {
  border-radius: 7% !important;
  border-color: white !important;
  border: solid !important;
}

#BottoneRegistrazioneHeader {
  border-radius: 7% !important;
  border-color: white !important;
  border: solid !important;
}

#BottonePatientSearch {
  border-radius: 7% !important;
  border-color: white !important;
  border: solid !important;
}

#ContainerHeader {
  padding-left: none !important;
  padding-right: none !important;
  max-width: none !important;
}

#divSpace {
  width: 10px !important;
}

#divSpaceRegister {
  width: 75% !important;
}

#BottoneInsert {
  margin-left: 48% !important;
  background-color: white !important;
  color: #0d2338 !important;
  margin-top: 3% !important;
}

#labelName {
  color: white !important;
  font-size: 100% !important;
  font-weight: bold !important;
}

#labelSurname {
  color: white !important;
  font-size: 100% !important;
  font-weight: bold !important;
}

#labelSex {
  color: white !important;
  font-size: 100% !important;
  font-weight: bold !important;
}

#labelEmail {
  color: white !important;
  font-size: 100% !important;
  font-weight: bold !important;
}

#labelPhoneNumber {
  color: white !important;
  font-size: 100% !important;
  font-weight: bold !important;
}

#labelAddress {
  color: white !important;
  font-size: 100% !important;
  font-weight: bold !important;
}

#labelFile {
  color: white !important;
  font-size: 100% !important;
  font-weight: bold !important;
}

#labelFilterAMKA {
  color: #1976d2 !important;
  font-size: 100% !important;
  font-weight: bold !important;
  margin-top: 30% !important;
}
#labelFilterEmail {
  color: #1976d2 !important;
  font-size: 100% !important;
  font-weight: bold !important;
  margin-top: 14% !important;
}

table {
  border: 2px solid forestgreen;
  width: 800px;
  height: 200px;
}

th {
  border-bottom: 1px solid black;
}

td {
  text-align: center;
}
#tabellaPazienti {
  width: 50% !important;
  margin-left: 30% !important;
}
#ButtonAllPatient {
  width: 200px !important;
}
#ButtonFilterPatient {
  margin-top: 20% !important;
  margin-bottom: -5% !important;
}
.MuiAppBar-colorDefault {
  background-color: #0d2338 !important;
  color: white !important;
}
#InserimentoPazienteTabella {
  height: 100% !important;
  width: 100% !important;
}
#TabellaInserimento {
  display: contents !important;
}

#Footer {
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

.MuiBox-root.css-binzgt {
  margin-top: 25px !important;
}
